{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}




    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
    </div>

    {% comment %} <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{% static 'img/dermasun.jpg' %}" class="d-block w-40" style="height:500px;object-fit:cover;">
        </div>

        <div class="carousel-item">
            <img src="{% static 'img/dermamost.jpg' %}" class="d-block w-40" style="height:500px;object-fit:cover;">
        </div>

        <div class="carousel-item">
            <img src="{% static 'img/i17.jpg' %}" class="d-block w-40" style="height:500px;object-fit:cover;">
        </div> {% endcomment %}

    </div>
    <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/dermasun.jpg' %}" class="card-img-top p-3" alt="Sunscreen">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">Derma Co Sunscreen Aqua Gel</h5>
                    <p class="card-text text-muted small">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-primary w-100">Buy</a>
                    <a href="#" class="btn btn-primary w-100">Add Cart</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/dermamost.jpg' %}" class="card-img-top p-3" alt="Moisturizer">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">Derma Co Mattifying Moisturizer</h5>
                    <p class="card-text text-muted small">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-primary w-100">Buy</a>
                    <a href="#" class="btn btn-primary w-100">Add Cart</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/i17.jpg' %}" class="card-img-top p-3" alt="Phone">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">iPhone 17</h5>
                    <p class="card-text text-muted small">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-primary w-100">Buy</a>
                    <a href="#" class="btn btn-primary w-100">Add Cart</a>
                </div>
            </div>
        </div>


    </div>
</div>    
</div>

        
        
    

</div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>

<div class="container mb-5">

    <h2 class="text-center mb-4">Shop by Category</h2>

    <div class="row text-center">

        <div class="col-md-3 mb-3">
            <div class="card p-4 shadow">
                <h4>📱 Mobiles</h4>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card p-4 shadow">
                <h4>💻 Laptops</h4>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card p-4 shadow">
                <h4>⌚ Watches</h4>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card p-4 shadow">
                <h4>🎧 Headphones</h4>
            </div>
        </div>

    </div>

</div> 


 <div class="container"> 

<h2 class="text-center mb-4">Featured Products</h2>

<div class="row">

{% for p in products %}

<div class="col-lg-3 col-md-4 col-sm-6 mb-4">

<div class="card h-100 shadow">

<span class="badge bg-danger position-absolute m-2">
20% OFF
</span>

<img src="{{ p.product_image.url }}" class="card-img-top" style="height:230px;object-fit:cover;">

<div class="card-body">

<h5>{{ p.product_name }}</h5>

<p class="text-muted">
{{ p.product_description|truncatechars:60 }}
</p>

<h4 class="text-success">
₹{{ p.product_price }}
</h4>

<div class="text-warning mb-2">
★★★★★
</div>

<div class="d-grid gap-2">

<a href="#" class="btn btn-warning">
🛒 Add to Cart
</a>

<a href="#" class="btn btn-primary">
Buy Now
</a>

</div>

</div>

</div>

</div>

{% endfor %}

</div>

</div>



<section class="bg-primary text-white text-center p-5 mt-5">

<h2>Subscribe for Latest Offers</h2>

<p>Get exciting discounts directly in your inbox.</p>

<form class="row justify-content-center">

<div class="col-md-5">

<input type="email" class="form-control" placeholder="Enter your email">

</div>

<div class="col-md-2">

<button class="btn btn-warning w-100">
Subscribe
</button>

</div>

</form>

</section>



<footer class="bg-dark text-white text-center p-4 mt-5">

<h4>My E-Commerce Store</h4>

<p>Quality Products | Fast Delivery | Secure Payment</p>

<p>
📧 support@example.com |
📞 +91 9876543210
</p>

<p>
© 2026 My Store | All Rights Reserved
</p>

</footer>  

{% endblock %}